<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome-5.5/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/templatemo-style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    
    <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
  </head>
  <body>    
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#hero" class="navbar-brand">Portfolio Recommender</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#risk_survey">Risk Survey</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#preferences">Preferences</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#results">Results</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Portfolio Recommender</h2>
            <p class="tm-hero-subtitle">
              This site will recommend a portfolio of S&P 500 stocks and other securities based on how you answer some questions.
              <br /><br />by Team Wall Street Bets
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#risk_survey" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>







    <!--Risk Survey-->

    <section id="risk_survey" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Risk Survey</h2>
              <p class="mx-auto tm-work-description mb-5">
                Answer the questions below to determine how much risk is right for you.
              </p>
          </div>            
        </div>
      <div class="container-lg flex-column d-flex justify-content-center align-items-center">
      <!--Question 1-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">When do you expect to begin withdrawals from your retirement savings?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q1" id="q1a" value="0">
              <label class="form-check-label" for="q1a">Less than 1 year</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q1" id="q1b" value="1" checked>
              <label class="form-check-label" for="q1b">1 to 2 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q1" id="q1c" value="2">
              <label class="form-check-label" for="q1c">3 to 4 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q1" id="q1d" value="3">
              <label class="form-check-label" for="q1d">5 to 7 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q1" id="q1e" value="5">
              <label class="form-check-label" for="q1e">8 to 10 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q1" id="q1f" value="7">
              <label class="form-check-label" for="q1f">11 years or more</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 2-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">When do you expect to begin withdrawals from your retirement savings?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q2" id="q2a" value="0">
              <label class="form-check-label" for="q2a">Less than 1 year</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q2" id="q2b" value="1" checked>
              <label class="form-check-label" for="q2b">1 to 2 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q2" id="q2c" value="2">
              <label class="form-check-label" for="q2c">3 to 4 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q2" id="q2d" value="3">
              <label class="form-check-label" for="q2d">5 to 7 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q2" id="q2e" value="5">
              <label class="form-check-label" for="q2e">8 to 10 years</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q2" id="q2f" value="7">
              <label class="form-check-label" for="q2f">11 years or more</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 3-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">Inflation - the rise of prices over time - can erode the purchasing power of your retirement savings. Some investors will accept a higher level of risk to pursue higher returns that manage the negative impact of inflation. Which of the following portfolios best reflects your willingness to accept increased risk to beat inflation?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q3" id="q3a" value="0">
              <label class="form-check-label" for="q3a">Portfolio 1 will most likely exceed long-term inflation by a significant margin and has a high degree of risk.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q3" id="q3b" value="1">
              <label class="form-check-label" for="q3b">Portfolio 2 will most likely exceed long-term inflation by a moderate margin and has a high-to moderate degree of risk.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q3" id="q3c" value="2" checked>
              <label class="form-check-label" for="q3c">Portfolio 3 will most likely exceed log-term inflation by a small margin and has a moderate degree of risk.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q3" id="q3d" value="3">
              <label class="form-check-label" for="q3d">Portfolio 4 will most likely match long-term inflation and has a low degree of risk.</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 4-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">Most investments fluctuate year to year. Suppose you invested $30,000 in a mutual fund this year with the intention of holding it for 10 years. If this investment lost value during the first year, at what value of your initial $30,000 investment would you sell and move to a more stable investment?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q4" id="q4a" value="0">
              <label class="form-check-label" for="q4a">$28,500 (5% loss)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q4" id="q4b" value="1">
              <label class="form-check-label" for="q4b">$27,000 (10% loss)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q4" id="q4c" value="2" checked>
              <label class="form-check-label" for="q4c">$25,500 (15% loss)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q4" id="q4d" value="3">
              <label class="form-check-label" for="q4d">$24,000 or less (20% loss)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q4" id="q4e" value="5">
              <label class="form-check-label" for="q4e">I would not sell.</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 5-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">Investing involves a trade-off between risk and return. What are your priorities for your retirement savings?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q5" id="q5a" value="0">
              <label class="form-check-label" for="q5a">Protect the value of my account. In order to minimize the chance for loss, I am willing to accept the lower long-term returns provided by conservative investments.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q5" id="q5b" value="1">
              <label class="form-check-label" for="q5b">Keep risk to a minimum while trying to achieve slightly higher returns than those provided by very low risk investments.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q5" id="q5c" value="2">
              <label class="form-check-label" for="q5c">Pursuing long-term growth is equally as important to me as managing the risk of losses.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q5" id="q5d" value="3" checked>
              <label class="form-check-label" for="q5d">Maximize long-term investment returns. I am willing to accept large and sometimes dramatic fluctuations in the value of my investments.</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 6-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">Historically, markets have experienced downturns, both short-term and prolonged, followed by recoveries. Suppose the value of your retirement savings fell by 20% (i.e., $1,000 initial investment would now be worth $800) over a short period, due to an overall drop in the market. Assuming you still have 10 years until you need to draw on your savings, how would you react?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q6" id="q6a" value="0">
              <label class="form-check-label" for="q6a">I would not change my portfolio.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q6" id="q6b" value="1">
              <label class="form-check-label" for="q6b">I would wait at least one year before changing to options that are more conservative.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q6" id="q6c" value="2">
              <label class="form-check-label" for="q6c">I would wait at least three months before changing to options that are more conservative.</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q6" id="q6d" value="3" checked>
              <label class="form-check-label" for="q6d">I would immediately change to options that are more conservative.</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 7-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">The following graph shows the hypothetical best and worst results of five sample retirement savings portfolios over a one-year holding period. Note that the portfolio with the highest upside also has the largest potential downside. Which of these portfolios would you prefer to hold?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q7" id="q7a" value="0">
              <label class="form-check-label" for="q7a">Portfolio A</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q7" id="q7b" value="1">
              <label class="form-check-label" for="q7b">Portfolio B</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q7" id="q7c" value="2" checked>
              <label class="form-check-label" for="q7c">Portfolio C</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q7" id="q7d" value="3">
              <label class="form-check-label" for="q7d">Portfolio D</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q7" id="q7e" value="5">
              <label class="form-check-label" for="q7e">Portfolio E</label>
            </div>
          </div>
        </div>
      </div>
      <!--Question 8-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">I am comfortable with investments that may frequently experience large declines in value if there is a potential for higher returns. What is your feeling about this statement?</h3>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q8" id="q8a" value="0">
              <label class="form-check-label" for="q8a">I agree</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q8" id="q8b" value="1">
              <label class="form-check-label" for="q8b">I disagree</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="q8" id="q8c" value="2" checked>
              <label class="form-check-label" for="q8c">I strongly disagree</label>
            </div>
          </div>
        </div>
      </div>
      <button type="button" id="results-btn" class="btn btn-primary">Get Results</button>
      <div class="row my_question my_border"></div>
    </section>





    <!-- Preferences -->

    <!-- <section id="preferences" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
      <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-text-primary tm-section-title mb-4">Preferences</h2>
            <p class="mx-auto tm-work-description mb-5">
              Enter your portfolio preferences below.
            </p>
        </div>            
      </div> -->
      <!--Question 1--> <!--
      <div class="container-lg flex-column d-flex justify-content-center align-items-center">
        <div class="row my_question mb-4">
          <div>
            <div class="text-left">
              <h3 class="tm-text-secondary">What is your favorite color?</h3>
            </div>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="qa" id="qa1" value="option1">
                <label class="form-check-label" for="qa1">Red</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="qa" id="qa2" value="option2">
                <label class="form-check-label" for="qa2">Yellow</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="qa" id="qa3" value="option3">
                <label class="form-check-label" for="qa3">Green</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="qa" id="qa4" value="option4">
                <label class="form-check-label" for="qa4">Blue</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row my_question my_border"></div>
      </div>
    </div> 
  </section> -->







  <!--Results-->

  <section id="results" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
      <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-text-primary tm-section-title mb-4">Results</h2>
            <p class="mx-auto tm-work-description mb-5">
              Here are the results of your portfolio recommendation. 
            </p>
        </div>            
      </div>
      <div class="row my_question my_border" style="background-color: #fff"></div>
    </div> 
  </section>















  

<!--


        
        <div class="row">
          <iframe id="content-frame" src="test.html" frameBorder="0" scrolling="no" style="width:100%; height:1000px; padding: 0; margin: 0 0 10px;">
          </iframe>
          <iframe id="my_plot" src="test_graph.html" style="width:100%; height:1000px; margin-bottom:20px;"></iframe>
        </div>







    <section id="introduction" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="img/the-town-01.jpg" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                <p class="mb-4 tm-intro-text">
                  The Town is <strong>simple CSS template</strong> built on Bootstrap v4.1.3 
                  and this is a little parallax layout that you can use for your websites.
              </p>
                <p class="mb-5 tm-intro-text">
                  Please tell your friends about our site 
                  <a rel="nofollow" href="https://templatemo.com">templatemo</a>. Thank you.
                  Curabitur dapibus tristique enim a imperdiet. Etiam
              tristique sem sed condimentum posuere. </p>
                <div class="tm-next">
                  <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
                </div>
            </div>
          </div>
        </div>

        <div class="row tm-section-pad-top">
          <div class="col-lg-4">
            <i class="fas fa-4x fa-bus text-center tm-icon"></i>
            <h4 class="text-center tm-text-primary mb-4">Curabitur at elit eu risus</h4>
            <p>
              Sed ultrices sit amet mi eu malesuada. Cras ultricies gravida
              nisi, ac pellentesque nunc tincidunt quis. Aenean at ornare lacus.
              Duis imperdiet lacus justo.
            </p>
          </div>
        
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-bicycle text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">Nunc sed metus vel nisi</h4>
          <p>
            Praesent ut finibus leo. Duis et tempus ipsum, id pretium nunc.
            Vivamus imperdiet sem quis orci pharetra convallis. Nunc a tempus
            nisi, sed fringilla purus. In hac habitasse platea.
          </p>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-city text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">Fusce sed nisi sagittis</h4>
          <p>
            Donec vestibulum libero nisl. Curabitur ac orci ac lorem blandit
            volutpat. Sed ac sodales nibh, ut porttitor elit. Sed id dui mi.
            Vestibulum ante ipsum primis in faucibus.
          </p>
        </div>
      </div>
    </section>
    <section id="work" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Our Work</h2>
              <p class="mx-auto tm-work-description">
                "Curabitur ac orci ac lorem blandit volutpat. Sed ac sodales nibh, ut
                porttitor elit. Sed id dui mi. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia."
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="img/gallery-img-01.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-02.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Second <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-03.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-03.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Third <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-04.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-04.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-05.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-05.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Fifth <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-06.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-06.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Sixth <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-01.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="img/gallery-img-02.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i>Eighth <span>Honey</span> Now</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>
  -->





<!-- Contact -->
    <section id="contact" class="tm-parallax-2">
    </section>










    <!-- Contact -->
    <!--<section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">Contact Us</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5">
                  Nullam tincidunt, lacus a suscipit luctus, elit turpis tincidunt dui,
                  non tempus sem turpis vitae lorem. Maecenas eget odio in sapien ultrices
                  viverra vitae vel leo. Curabitur at elit eu risus pharetra pellentesque
                  at at velit.
                </p>
            </div>
            
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:0100200340" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-phone mr-4"></i>
                  <span class="mb-0">010-020-0340</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="mailto:info@company.co" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-envelope mr-4"></i>
                  <span class="mb-0">info@company.co</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="https://www.google.com/maps" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                  <span class="mb-0">Location on Maps</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <form action="" method="get">
                <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
                <button type="submit" class="btn tm-btn-submit">Submit</button>
              </form>
            </div>
        </div>
      </div>
      <footer class="text-center small tm-footer">
          <p class="mb-0">
            Copyright &copy; 2019 Company Name 
            
            - Design: <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
          </p>
        </footer>
    </section>-->
    <script src="{{ url_for('static',filename='js/jquery-1.9.1.min.js') }}"></script>     
    <script src="{{ url_for('static',filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static',filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.singlePageNav.min.js') }}"></script>     
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script> 
    
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        // $('.tm-gallery').magnificPopup({
        //   delegate: 'a',
        //   type: 'image',
        //   gallery: { enabled: true }
        // });

        // Gallery
        // $('.tm-gallery').slick({
        //   dots: true,
        //   infinite: false,
        //   slidesToShow: 5,
        //   slidesToScroll: 2,
        //   responsive: [
        //   {
        //     breakpoint: 1199,
        //     settings: {
        //       slidesToShow: 4,
        //       slidesToScroll: 2
        //     }
        //   },
        //   {
        //     breakpoint: 991,
        //     settings: {
        //       slidesToShow: 3,
        //       slidesToScroll: 2
        //     }
        //   },
        //   {
        //     breakpoint: 767,
        //     settings: {
        //       slidesToShow: 2,
        //       slidesToScroll: 1
        //     }
        //   },
        //   {
        //     breakpoint: 480,
        //     settings: {
        //       slidesToShow: 1,
        //       slidesToScroll: 1
        //     }
        //   }
        // ]
        // });
      });
    </script>



    <!-- SCRIPT FOR CALCULATIONS -->
    <script>
      $(document).ready(function() {
        console.log("Hello!!");
        $("#results-btn").click(function() { // on update of an answer
            // Get answers from questions
            var ans1 = $("input[type=radio][name=q1]:checked").val();
            var ans2 = $("input[type=radio][name=q2]:checked").val();
            var ans3 = $("input[type=radio][name=q3]:checked").val();
            var ans4 = $("input[type=radio][name=q4]:checked").val();
            var ans5 = $("input[type=radio][name=q5]:checked").val();
            var ans6 = $("input[type=radio][name=q6]:checked").val();
            var ans7 = $("input[type=radio][name=q7]:checked").val();
            var ans8 = $("input[type=radio][name=q8]:checked").val();

            // Our JSON request
            var server_data = [
              { "ans1": ans1, 
                "ans2": ans2,
                "ans3": ans3,
                "ans4": ans4,
                "ans5": ans5,
                "ans6": ans6,
                "ans7": ans7,
                "ans8": ans8
              }
            ];

            $.ajax({
              type: "POST",
              url: "/results",
              data: JSON.stringify(server_data),
              contentType: "application/json",
              dataType: 'json',
              success: function(result) {onSuccess(result)} 
            });
        })
      });

      // after a successful response from the python backend
      function onSuccess(result) {
        console.log(result);
      }

    </script>




  </body>
</html>