<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome-5.5/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/templatemo-style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    
    <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
  </head>
  <body>    
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#hero" class="navbar-brand">Portfolio Recommender</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#risk_survey">Risk Survey</a>
              </li>
              <!--<li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#preferences">Preferences</a>
              </li>-->
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#results">Results</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Portfolio Recommender</h2>
            <p class="tm-hero-subtitle">
              This site will recommend a portfolio of S&P 500 stocks and other securities based on how you answer some questions.
              <br /><br />by Team Wall Street Bets
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#risk_survey" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>







    <!--Risk Survey-->

    <section id="risk_survey" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Risk Survey</h2>
              <p class="mx-auto tm-work-description mb-5">
                Answer the questions below to determine how much risk is right for you.
              </p>
          </div>            
        </div>
      <div class="container-lg flex-column d-flex justify-content-center align-items-center">

      <!--Question 1-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 50% of getting $0 and 50% chance of getting $10, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="2.5" max="5" step="0.01" id="q1" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$3.75</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 2-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 50% of getting $0 and 50% chance of getting $100, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="50" step="0.1" id="q2" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$25</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 3-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 50% of getting $0 and 50% chance of getting $1000, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="500" step="0.1" id="q3" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$250</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 4-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary"> If you have a 90% of getting $0 and 10% chance of getting $10, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="1" step="0.1" id="q4" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$0.5</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 5-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 90% of getting $0 and 10% chance of getting $100, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="10" step="0.1" id="q5" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$5</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 6-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 90% of getting $0 and 10% chance of getting $1000, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="100" step="0.1" id="q6" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$50</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 7-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 25% of getting $0 and 75% chance of getting $100, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="75" step="0.1" id="q7" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$37.5</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 8-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 75% of getting $0 and 25% chance of getting $100, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="25" step="0.1" id="q8" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$12.5</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 9-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 40% of getting $0 and 60% chance of getting $100, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="60" step="0.1" id="q9" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$30</output>
            </div>
          </div>
        </div>
      </div>
      <!--Question 10-->
      <div class="row my_question mb-4">
        <div>
          <div class="text-left">
            <h3 class="tm-text-secondary">If you have a 40% of getting $0 and 60% chance of getting $1,000, how much money would you bet?</h3>
          </div>
          <div>
            <div class="form-check">
              <input type="range" class="form-range w-50" min="0" max="600" step="0.1" id="q10" oninput="this.nextElementSibling.value = '$' + this.value">
              <output class="ml-2">$300</output>
            </div>
          </div>
        </div>
      </div>
      <a href="#results"><button type="button" id="results-btn" class="btn btn-primary">Get Results</button></a>
      <div class="row my_question my_border"></div>
    </section>


    <!--Results-->

    <section id="results" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Results</h2>
              <p class="mx-auto tm-work-description mb-5">
                Here are the results of your portfolio recommendation. 
              </p>
          </div>            
        </div>
        <!--the screen on page load-->
        <div id="initial-screen" class="row">
          <div class="text-center col-12">
            <h3 class="tm-text-secondary">Fill out the risk survey and click "Get Results" to view your portfolio.</h3>
          </div>
        </div>
        <!--the loading screen-->
        <div id="loading-screen" class="row d-none">
          <div class="text-center col-12">
            <h3 class="tm-text-secondary my_loading">Loading...</h3>
          </div>
        </div>
        <!--the actual results you get from running the code-->
        <div id="actual-results" class="d-none">
          <div class="row actual-results">
            <div class="col-xl-6">
                <img src="{{ url_for('static',filename='img/ef_scatter.png') }}" alt="Image" id="plot-1" class="img-fluid my_plot tm-intro-img mx-auto d-block" />
            </div>
            <div class="col-xl-6">
              <img src="{{ url_for('static',filename='img/compl_port_pie.png') }}" alt="Image" id="plot-2" class="img-fluid my_plot tm-intro-img mx-auto d-block" />
            </div>
          </div>
          <div class="row">
          </div>
        </div>
        <div class="row my_question my_border" style="background-color: #fff"></div>
      </div> 
    </section>



    <!-- Contact -->
    <section id="contact" class="tm-parallax-2">
    </section>




    <!-- Contact -->
    <!--<section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">Contact Us</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5">
                  Nullam tincidunt, lacus a suscipit luctus, elit turpis tincidunt dui,
                  non tempus sem turpis vitae lorem. Maecenas eget odio in sapien ultrices
                  viverra vitae vel leo. Curabitur at elit eu risus pharetra pellentesque
                  at at velit.
                </p>
            </div>
            
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:0100200340" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-phone mr-4"></i>
                  <span class="mb-0">010-020-0340</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="mailto:info@company.co" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-envelope mr-4"></i>
                  <span class="mb-0">info@company.co</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="https://www.google.com/maps" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                  <span class="mb-0">Location on Maps</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <form action="" method="get">
                <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
                <button type="submit" class="btn tm-btn-submit">Submit</button>
              </form>
            </div>
        </div>
      </div>
      <footer class="text-center small tm-footer">
          <p class="mb-0">
            Copyright &copy; 2019 Company Name 
            
            - Design: <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
          </p>
        </footer>
    </section>-->
    <script src="{{ url_for('static',filename='js/jquery-1.9.1.min.js') }}"></script>     
    <script src="{{ url_for('static',filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static',filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.singlePageNav.min.js') }}"></script>     
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script> 
    
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        // $('.tm-gallery').magnificPopup({
        //   delegate: 'a',
        //   type: 'image',
        //   gallery: { enabled: true }
        // });

        // Gallery
        // $('.tm-gallery').slick({
        //   dots: true,
        //   infinite: false,
        //   slidesToShow: 5,
        //   slidesToScroll: 2,
        //   responsive: [
        //   {
        //     breakpoint: 1199,
        //     settings: {
        //       slidesToShow: 4,
        //       slidesToScroll: 2
        //     }
        //   },
        //   {
        //     breakpoint: 991,
        //     settings: {
        //       slidesToShow: 3,
        //       slidesToScroll: 2
        //     }
        //   },
        //   {
        //     breakpoint: 767,
        //     settings: {
        //       slidesToShow: 2,
        //       slidesToScroll: 1
        //     }
        //   },
        //   {
        //     breakpoint: 480,
        //     settings: {
        //       slidesToShow: 1,
        //       slidesToScroll: 1
        //     }
        //   }
        // ]
        // });
      });
    </script>








    <!-- SCRIPT FOR CALCULATIONS -->
    <script>
      $(document).ready(function() {
        console.log("Hello!!");
        $("#results-btn").click(function() { // on update of an answer
            // disable the 'get results button'
            $('button').prop('disabled', true);
            // if no results have been run, hide initial results message and show loading message 
            if (!$("#initial-screen").hasClass("d-none")) {
              $("#initial-screen").addClass("d-none")
              $("#loading-screen").removeClass("d-none")
            }
            // if results have been run, hide results and show loading message 
            if (!$("#actual-results").hasClass("d-none")) {
              $("#actual-results").addClass("d-none")
              $("#loading-screen").removeClass("d-none")
            }

            // Get answers from questions
            var ans1 = $("#q1").val();
            var ans2 = $("#q2").val();
            var ans3 = $("#q3").val();
            var ans4 = $("#q4").val();
            var ans5 = $("#q5").val();
            var ans6 = $("#q6").val();
            var ans7 = $("#q7").val();
            var ans8 = $("#q8").val();
            var ans9 = $("#q9").val();
            var ans10 = $("#q10").val();

            // Our JSON request
            var server_data = [
              { "ans1": ans1, 
                "ans2": ans2,
                "ans3": ans3,
                "ans4": ans4,
                "ans5": ans5,
                "ans6": ans6,
                "ans7": ans7,
                "ans8": ans8,
                "ans9": ans9,
                "ans10": ans10
              }
            ];

            $.ajax({
              type: "POST",
              url: "/results",
              data: JSON.stringify(server_data),
              contentType: "application/json",
              dataType: 'json',
              success: function(result) {onSuccess(result)} 
            });
        })
      });

      // after a successful response from the python backend
      function onSuccess(result) {
        
        // hide loading message and show results
        $("#loading-screen").addClass("d-none")
        $("#actual-results").removeClass("d-none")
        // reload images
        d = new Date();
        $("#plot-1").attr("src", "{{ url_for('static',filename='img/ef_scatter.png') }}" + "?" + d.getTime());
        $("#plot-2").attr("src", "{{ url_for('static',filename='img/compl_port_pie.png') }}" + "?" + d.getTime());

        // enable the 'get results button'
        $('button').prop('disabled', false);

        console.log(result);
      }

    </script>

<!-- <div class="col-xl-4">
  <img src="{{ url_for('static',filename='img/ef_scatter.png') }}" alt="Image" class="img-fluid my_plot tm-intro-img mx-auto d-block" />
</div>
<div class="col-xl-4">
<img src="{{ url_for('static',filename='img/compl_port_pie.png') }}" alt="Image" class="img-fluid my_plot tm-intro-img mx-auto d-block" />
</div>
<div class="col-xl-4">
<img src="{{ url_for('static',filename='img/existing_port_pie.png') }}" alt="Image" class="img-fluid my_plot tm-intro-img mx-auto d-block" />
</div> -->


  </body>
</html>